<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>New Product &ndash; Shop</title>
</head>
<body>
<a href="/catalogue/products/list">&lAarr; To products list </a>
<h1>New Product</h1>
<form method="post" data-th-action="@{/catalogue/products/create}">
    <label>
        Название:<br>
        <input type="text" name="title" data-th-value="${payload?.title}">
    </label><br>
    <label>
        Описание:<br>
        <textarea name="details" data-th-text="${payload?.details}"></textarea>
    </label><br>
    <button type="submit">Создать</button>
</form>
</body>
</html>